{% extends "base.html" %}
{% block title %}
    password reset complete
{% endblock title %}

{% block content %}
 <div class="account" Style='padding-top:3em'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    	        <form method='post'>
					{% csrf_token %}
					<div class="account-top heading" Style='margin:0'>
						<h5 Style='font-size:41px;font-weight:400'>password reset successfully <strong><a Style='font-size:40px;font-weight:400' href="{% url 'accountPage' %}">Login</a></strong></h5>
					</div>
				</div>
				</form>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}