{% extends "base.html" %}
{% block title %}
    chapngePassword
{% endblock title %}

 {% block breadcrumbs %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{% url 'shop:homePage' %}">Home</a></li>
					<li class="active">Change Password</li>
				</ol>
			</div>
		</div>
	</div>
 {% endblock breadcrumbs %}

{% block content %}
<div class="account">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    	        <form class='password-change-form' method='post'>
					{% csrf_token %}
					<div class="account-top heading">
						<h3>Change Password</h3>
					</div>
	
				 {% for fm in form %}
						<div class="address">
							<span>{{fm.label}}</span>
								{{fm}}
							<small class='text-danger'>{{fm.errors|striptags}}</small>
						</div>
					{% endfor %} 

					<div class="address">
						<input name = "submit" value = "submit" type="submit">
					</div>
				</div>
				</form>
            </div>
        </div>
    </div>
</div>
	
{% endblock content %}