{% extends "base.html" %}
{% block title %}
    password reset done
{% endblock title %}

{% block content %}
 <div class="account">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    	        <form method='post'>
					{% csrf_token %}
					<div class="account-top heading" Style='margin:0'>
						<h3>An link has been sent to your Email <strong><a href="https://mail.google.com/mail/u/0/" target='__blank' >open Eamil</a></strong></h3>
					</div>
				</div>
				</form>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}