{% extends "base.html" %}
{% block title %}
    password reset confirm
{% endblock title %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{% url 'shop:homePage' %}">Home</a></li>
					<li class="active">Password Reset</li>
				</ol>
			</div>
		</div>
	</div>
{% endblock breadcrumbs %}

  {% block content %}
 <div class="account">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    	        <form class='password-change-form' method='post'>
					{% csrf_token %}
					<div class="account-top heading" Style='margin:0'>
						<h3>Enter your Email address</h3>
					</div>
	
				 {% for fm in form %}
						<div class="address">
							<span>{{fm.label}}</span>
								{{fm}}
							<small class='text-danger'>{{fm.errors|striptags}}</small>
						</div>
					{% endfor %} 

					<div class="address"  Style='margin:0'>
						<input name = "submit" value = "submit" type="submit">
					</div>
				</div>
				</form>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}


