{% extends "base.html" %}
{% load static %}
 {% block title %}Home{% endblock title %}
 {% block content %}		
	<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<div class="banner-1"></div>
				</li>
				<li>
					<div class="banner-2"></div>
				</li>
				<li>
					<div class="banner-3"></div>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				
			
			<!--End-slider-script-->
	<!--start-banner-bottom--> 
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-top">
				<div class="col-md-6 banner-bottom-left">
					<div class="bnr-one">
						<div class="bnr-left">
							<h1><a href="single.html">Duis dictum volutpat</a></h1>
							<p>Nulla tempus facilisis purus at.</p>
							<div class="b-btn"> 
								<a href="single.html">SHOP NOW</a>
							</div>
						</div>
						<div class="bnr-right"> 
							<a href="single.html"><img src="{% static 'images/b-1.jpg' %}" alt="" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 banner-bottom-right">
					<div class="bnr-two">
						<div class="bnr-left">
							<h2><a href="single.html">Phasellus quis nunc</a></h2>
							<p>Nulla tempus facilisis purus at.</p>
							<div class="b-btn"> 
								<a href="single.html">SHOP NOW</a>
							</div>
						</div>
						<div class="bnr-right"> 
							<a href="single.html"><img src="{% static 'images/b-2.jpg' %}" alt="" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-banner-bottom--> 
	<!--start-shoes--> 
	<div class="shoes"> 
		<div class="container"> 
			<div class="row">
				<h1>Lattest Product</h1>
				{% for item in products %}
				<div class="col-12 col-lg-3 col-md-4 col-sm-6 product-one"> 
					<div class="p-one simpleCart_shelfItem">
						
						<a href="{% url 'shop:singleProductPage' item.pk %}">
								<img src="{{item.image_url.url}}" alt="product" />
								<div class="mask">
									<span>Quick View</span>
								</div>
							</a>
						<h4>{{item.title}}</h4>
						<p><i></i> <span class=" item_price">${{item.price|truncatechars:14}}</span></p>
						
					</div>
				</div>
			{% endfor %}
			</div>
			<
				
		</div>
	</div>
	<!--end-shoes-->
	<!--start-abt-shoe-->
	<div class="abt-shoe">
		<div class="container"> 
			<div class="abt-shoe-main">
				<div class="col-md-4 abt-shoe-left">
					<div class="abt-one">
						<a href="single.html"><img src="{% static 'images/abt-1.jpg' %}" alt="" /></a>
						<h4><a href="single.html">Cras dolor ligula</a></h4>
						<p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
					</div>
				</div>
				<div class="col-md-4 abt-shoe-left">
					<div class="abt-one">
						<a href="single.html"><img src="{% static 'images/abt-2.jpg' %}" alt="" /></a>
						<h4><a href="single.html">Cras dolor ligula</a></h4>
						<p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
					</div>
				</div>
				<div class="col-md-4 abt-shoe-left">
					<div class="abt-one">
						<a href="single.html"><img src="{% static 'images/abt-3.jpg' %}" alt="" /></a>
						<h4><a href="single.html">Cras dolor ligula</a></h4>
						<p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-abt-shoe-->

  {% endblock content %}
